* {
    margin: 0;
    padding: 0;

}

.container {
    margin: 20%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.quadrado {
    background-color: blue;
    border: 1px;
    width: 100px;
    height: 100px;
}

input {
    height: 30px;
    width: 250px;
    border-radius: 8px;
    border: 2px solid;
    border-color: blue;
}

.label-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
}